.salestablo
{
    margin: 1% 1% 1% 1%;
    width: 96%;
    height: 100%;
    background-color: whitesmoke;
}
.list
{
    width: 15%;
    height: 5%;
    margin-left: 1%;
    text-align: center;
}
.table-condensed{
    font-size: 80%;
  }
.albutton
{
  float: left;
  border: none;
  border-radius: 5px;
  background-color:lightblue;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  
}


summary {

    background-color:lightseagreen;
    color:#fcf6bc;
    font-size:15px;
    border-radius: 5px;  
    position: relative;
    

}
details {

    background-color:#faf7e0;
    color:#7a7efd;
    font-size:14px;
    border-radius: 5px;


}
details button
{
    margin-top: 2%;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 15px;
    background-color:lightseagreen;
    color:#fcf6bc;
    border-radius: 5px;  
    border:none;
    position: relative;
    border-style: ridge;
    border-width: 2px;
    border-color: black;
}

